.login {
  h1 {
    font-size: 20px;
    text-align: center;
  }
}

.card {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.version {
  text-align: center;
}