.messageArea {
  //padding: 0 20px;
  overflow-y: scroll;
  height: calc(100vh - 80px);
}

.messageCtx {
  display: flex;
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #000;
}

.messageCtxText {
  background-color: #44426a;
  color: #fff;
}

.imageMessage {
  max-width: 40%;
}

.attachmentIcon {
  color: #4a90e2;
}

.attachmentIconImage {
  width: 40px;
  margin-right: 4px;
}